@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}


body {
  padding-top: 20px;
}

/**
 * Individual Listings
 */
.listing {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 15px 50px;
  min-height: 145px;
  position: relative;
}

.listing:hover {
  background-color: #f3f3f3;
}

.listing img {
  height: 100px;
  float: left;
  margin-right: 45px;
  border-radius: 5px;
}

.listing .wide {
  max-width: 100%;
  position: relative;
  z-index: 999;
}

.listing .wide img {
  height: initial;
  width: 100%;
}

.listing .wide small {
  display: none;
}

.listing a {
  max-width: 150px;
  display: block;
}

.listing small {
  float: left;
  display: block;
  text-align: center;
  width: 136px;
}

.listing h3 {
  padding: 0 15px 0 0;
}

.listing h3 a {
  display: inline;
}

.listing .map {
  position: absolute;
  top: 13px;
  right: 50px;
  height: 120px;
  width: 120px;
  background-size: cover;
  border-radius: 5px;
}

.listing .detail {
  width: 36%;
  display: inline-block;
  padding: 5px 5px 0 0;
  margin: 0;
  font-weight: 200;
  font-style: italic;
}

.listing .detail span {
  font-weight: 300;
  font-style: normal;
}

/**
 * Utilities
 */
.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.list-filter input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  display: block;
}

.results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #f6f6f6;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.results li {
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
}


