<div class="jumbotron">
        <h1>Welcome</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          	{{#each model as |tournamentUnit|}}
		  		{{tournament-listing tournament=tournamentUnit}}
			{{/each}}
        </p>
     

</div> <!-- /container -->